Repository Web-Science-Team/plan-and-pantry, pull requests merged in 2022-04, with the labels that each got.

#15 Recipe list v2
  web/frontend/project/src/app/app-routing.module.ts
  web/frontend/project/src/app/app.module.ts
  web/frontend/project/src/app/recipe-list/recipe-list.component.css
  web/frontend/project/src/app/recipe-list/recipe-list.component.html
  web/frontend/project/src/app/recipe-list/recipe-list.component.spec.ts
  web/frontend/project/src/app/recipe-list/recipe-list.component.ts
Labels: frontend

#16 Single recipe view
  web/frontend/project/src/app/app-routing.module.ts
  web/frontend/project/src/app/app.module.ts
  web/frontend/project/src/app/single-recipe/single-recipe.component.css
  web/frontend/project/src/app/single-recipe/single-recipe.component.html
Labels: frontend

#17 Sidebar component
  web/frontend/project/src/app/sidebar/sidebar.component.css
  web/frontend/project/src/app/sidebar/sidebar.component.html
Labels: frontend

#6 Update project packages
  web/backend/package-lock.json
  web/frontend/project/package-lock.json
Labels: core

#5 Create codeql.yml
  .github/workflows/codeql.yml
Labels: core

#30 Add Firebase to project
  web/frontend/project/.vscode/settings.json
  web/frontend/project/package-lock.json
  web/frontend/project/package.json
  web/frontend/project/src/app/app-routing.module.ts
  web/frontend/project/src/app/app.module.ts
  web/frontend/project/src/app/guard/auth.guard.spec.ts
  web/frontend/project/src/app/guard/auth.guard.ts
  web/frontend/project/src/app/services/auth.service.spec.ts
  web/frontend/project/src/app/services/auth.service.ts
  web/frontend/project/src/app/services/user.ts
  web/frontend/project/src/app/sidebar/sidebar.component.html
  web/frontend/project/src/app/sidebar/sidebar.component.ts
  web/frontend/project/src/app/sign-in/sign-in.component.html
  web/frontend/project/src/app/sign-in/sign-in.component.ts
  web/frontend/project/src/app/sign-up/sign-up.component.html
  web/frontend/project/src/app/sign-up/sign-up.component.ts
  web/frontend/project/src/environments/environment.prod.ts
  web/frontend/project/src/environments/environment.ts
Labels: backend

#31 Implement Backend
  API.md
  INSTALL.md
  README.md
  web/backend/auth.js
  web/backend/package-lock.json
  web/backend/package.json
  web/backend/recipes.js
  web/backend/server.js
  web/frontend/project/package-lock.json
  web/frontend/project/package.json
  web/frontend/project/src/app/add-recipe/add-recipe.component.css
  web/frontend/project/src/app/add-recipe/add-recipe.component.html
  web/frontend/project/src/app/add-recipe/add-recipe.component.spec.ts
  web/frontend/project/src/app/add-recipe/add-recipe.component.ts
  web/frontend/project/src/app/app-routing.module.ts
  web/frontend/project/src/app/app.module.ts
  web/frontend/project/src/app/guard/auth.guard.ts
  web/frontend/project/src/app/home/home.component.html
  web/frontend/project/src/app/services/auth.service.ts
  web/frontend/project/src/app/services/file-upload.service.spec.ts
  web/frontend/project/src/app/services/file-upload.service.ts
  web/frontend/project/src/app/services/http.service.spec.ts
  web/frontend/project/src/app/services/http.service.ts
  web/frontend/project/src/app/sidebar/sidebar.component.html
  web/frontend/project/src/index.html
  web/frontend/project/src/styles.css
  web/package-lock.json
  web/package.json
Labels: backend

#33 Recipe backend fixes
  web/backend/recipes.js
  web/frontend/project/src/app/add-recipe/add-recipe.component.html
  web/frontend/project/src/app/add-recipe/add-recipe.component.ts
  web/frontend/project/src/app/app.module.ts
Labels: backend

#34 add view all recipes list backend
  web/frontend/project/src/app/add-recipe/add-recipe.component.ts
  web/frontend/project/src/app/recipe-list/recipe-list.component.html
  web/frontend/project/src/app/recipe-list/recipe-list.component.ts
  web/frontend/project/src/app/sidebar/sidebar.component.html
Labels: backend
